<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Foodfy</title>
</head>
<body>
    <header>
    <section class="topo">
        <div class="title"><a href="/"><img src="/img/logo.png"></a></div>
        <div class="menu1"><a href="/sobre">Sobre</a></div>
        <div class="menu2"><a href="/receitas">Receitas</a></div>
    </section>
    </header>

    {% block content %}{% endblock %}

  <footer>
        <p>Todos os direitos reservados, criado por Rodrigo Fidencio</p>
    </footer>

</body>
</html>